.new-board-form {
    border-style: solid;
    border-width: thin;
    border-color: var(--dark-gray);
    padding: 10px;
    width: 250px;
    background-color: var(--white);
    color: var(--dark-teal);
}

.new-board-form-label {
    padding: 10px;
    margin: 10px;
    font-family: 'Varela Round';
    /* color: red; */
}

.warning {
    color: rgb(227, 54, 54)
}

.new-board-form-btn {
    padding: 7.5px;
    margin: 20px;
    cursor: pointer;
    font-family: 'Varela Round';
    border: none;
    background-color: var(--teal);
    color: white;
    width: 10vh;
    font-size: 14px;
}

*:disabled {
    background-color: rgb(166, 166, 166);
}
