.new-board-form {
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 100%;
    max-width: 250px;
    background-color: var(--white);
    color: var(--dark-teal);
    font-size: 14px;
    margin-top: -40px;
}

.new-board-form-input {
    padding: 10px;
    margin: 10px;
    font-family: 'Varela Round';
    color: var(--white);
    background-color: var(--teal);
    border-style: none;
    width: 200px;
    height: 25px;
    
}

::placeholder {
    color: var(--white);
    font-size: 14px;
    font-family: 'Varela Round';
}

.new-board-form-btn {
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    font-family: 'Varela Round';
    border: none;
    background-color: var(--teal);
    color: white;
    width: 10vh;
    font-size: 14px;
}