.new-board-form {
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 100%;
  max-width: 250px;
  background-color: var(--white);
  color: var(--dark-teal);
  font-size: 14px;
  margin-top: -40px;
}

.new-board-form-input {
  padding: 10px;
  margin: 10px;
  font-family: "Varela Round";
  /* color: red; */
}

.warning {
  color: rgb(227, 54, 54);
}

.new-board-form-btn {
  padding: 5px;
  margin: 30px;
  cursor: pointer;
  font-family: "Varela Round";
  border: none;
  background-color: var(--teal);
  color: white;
  width: 10vh;
  font-size: 14px;
}

*:disabled {
  background-color: rgb(166, 166, 166);
}
