.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App-header {
  background-color: var(--pink);
  min-height: 20vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  color: black;
  font-family: 'Varela Round';
  position: fixed;
  left: 2vh;
  bottom: 2vh; 
  display: flex;
  justify-content: flex-start; 
  width: 100%; 
}

