.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.App__header {
  background-color: var(--pink);
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* color: white; */
  position: relative;
}

.Inspo__board__text {
  color: white;
  position: absolute;
  left: 37vh;
  display: flex;
  /* justify-content: flex-start;  */
  /* Fix later so that Inspiration Board doesn't disappear behind the BoardList */
}

.App__footer {
  color: black;
  font-family: "Varela Round";
  position: fixed;
  left: 45vh;
  bottom: 1vh;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

body {
  margin: 0;
}
