@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap');

:root {

  /* Colors */
  --dark-teal: #0097a7;
  --gray: #eeeeeeff;
  --pink: #ebafadff;
  --teal: #80d3c8ff;
  --white: #ffffffff;
}

body {
  font-family: 'Lobster';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
}

.board {

}

.container {

}

.card {

}

.new__board {

}

.new__card {
  
}

#messageField {

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
