@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap");

:root {
  /* Colors */
  --dark-teal: #0097a7;
  --gray: #eeeeeeff;
  --pink: #ebafadff;
  --teal: #80d3c8ff;
  --white: #ffffffff;
}

body {
  font-family: "Lobster";
  font-size: 16px;
  line-height: 1.5;
  /* color: red; */
  background-color: var(--white);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */