.new-card-form {
    border-style: solid;
    border-width: thin;
    border-color: black;
    width: 450px;
    height: 200px;
    background-color: var(--white);
    color: var(--dark-teal);
    font-size: 14px;
    margin: 25px 25px;
}

.new-card-form-input {
    padding: 10px;
    margin: 7.5px;
    width: 350px;
    font-family: 'Varela Round';
    /* color: red; */
}

.new-card-form-btn {
    padding: 7.5px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Varela Round';
    border: none;
    background-color: var(--teal);
    color: white;
    width: 15vh;
    font-size: 14px;
}

.warning {
    color: rgb(227, 54, 54)
}

*:disabled {
    background-color: rgb(166, 166, 166);
}